@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #181837;
  color: #f1f1f1;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #181837;
}

.login-form {
  background-color: #222245;
  border-radius: 12px;
  padding: 30px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.login-form h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #21d4fd;
  margin-bottom: 30px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  font-size: 1rem;
  border: 1px solid #444;
  border-radius: 8px;
  color: black;
  transition: border 0.3s;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  border-color: #181837;
  outline: none;
}

.login-form input[type="button"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(145deg, #21d4fd, #b721ff);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.2s;
}

.login-form input[type="button"]:hover {
  opacity: 0.9;
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(33, 212, 253, 0.3);
}

.links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.links a {
  color: #21d4fd;
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
  transition: color 0.3s;
}

.links a:hover {
  color: #b721ff;
}
