<div id="navbar">
    <img id="mudra-pay-logo" src="MudraPay-white.png"/>
    <header>
        <nav>
            <ul>
                <li>
                    <div class="login"> 
                        <a routerLink="/login">Log In</a>
                    </div>
                </li>
                <li>
                    <div class="signup"> <img height="20px" src="add-user.png">
                    <a routerLink="/signup">Sign Up</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
</div>