@if(isLoading){
  <app-spinner/>
}
<app-navbar />
<div class="box">
  <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <h1>Join MudraPay 💸</h1>
    <!-- Username Input -->
    <div class="input-container">
      <input
        type="text"
        name="username"
        placeholder="New username"
        formControlName="username"
        required
      />
    </div>

    <div class="input-container">
      <input
        type="email"
        name="email"
        placeholder="Email"
        formControlName="email"
        required
      />
    </div>

    <div class="input-container">
      <input
        type="password"
        name="password"
        placeholder="Enter Password - min 8 characters"
        required
        formControlName="password"
      />
    </div>

    <div class="input-container">
      <input
        type="text"
        name="mudraPin"
        placeholder="Set your 6-digit mudra pin"
        required
        formControlName="mudraPin"
      />
    </div>

    <button type="submit" class="signup-btn">Create my account 🚀</button>
    <div class="links">
      <a [routerLink]="'/login'">Already a user ? Log in</a>
    </div>
  </form>
</div>
