<div class="container">
    <div class="change-password">
      <p class="change-password-header">CHANGE PASSWORD</p>
      <form class="password-form" [formGroup]="changePasswordForm">
        <div class="input-group">
          <label for="current-password">Enter Current Password</label>
          <input type="password" id="current-password" placeholder="••••••" formControlName="currentPassword">
        </div>
        <div class="input-group">
          <label for="new-password">Enter New Password</label>
          <input type="text" id="new-password" placeholder="••••••" formControlName="newPassword">
        </div>
        <div class="input-group">
          <label for="confirm-password">Confirm New Password</label>
          <input type="text" id="confirm-password" placeholder="••••••" formControlName="confirmNewPassword">
        </div>
        @if(changePasswordForm.valid&&changePasswordForm.value.confirmNewPassword!==changePasswordForm.value.newPassword){
          <p>New password and confirm password do not match</p>
          }
          @if(!changePasswordForm.valid&&!changePasswordForm.controls.confirmNewPassword.pristine&&!changePasswordForm.controls.newPassword.pristine){
          <p>Invalid values entered</p>
          }
        <button type="button" class="submit-btn" (click)="onSubmit()">Update Password</button>
        <a class="cancel" (click)="onCancel()">Cancel</a>
      </form>
    </div>
  </div>
  