<div class="container">
  <div class="change-pin">
    <p class="change-pin-header">CHANGE MUDRA PIN</p>
    <form class="pin-form" [formGroup]="changePinForm">
      <div class="input-group">
        <label for="current-pin">Enter Current PIN</label>
        <input
          type="password"
          id="current-pin"
          placeholder="••••••"
          formControlName="currentPin"
        />
      </div>
      <div class="input-group">
        <label for="new-pin">Enter New PIN</label>
        <input
          type="text"
          id="new-pin"
          placeholder="••••••"
          formControlName="newPin"
        />
      </div>
      <div class="input-group">
        <label for="confirm-pin">Confirm New PIN</label>
        <input
          type="text"
          id="confirm-pin"
          placeholder="••••••"
          formControlName="confirmNewPin"
        />
      </div>
      @if(changePinForm.valid&&changePinForm.value.confirmNewPin!==changePinForm.value.newPin){
      <p>New pin and confirm new pins do not match</p>
      }
      @if(!changePinForm.valid&&!changePinForm.controls.confirmNewPin.pristine&&!changePinForm.controls.newPin.pristine){
      <p>Invalid values entered</p>
      }
      <button type="submit" class="submit-btn" (click)="onSubmit()">
        Update Pin
      </button>
      <a class="cancel" (click)="onCancel()">Cancel</a>
    </form>
  </div>
</div>
