<app-home-nav [walletBalance]="getWalletBalanceValue()()" />
<app-sidebar />
<p-toast/>
@if(isLoading){
  <app-spinner/>
}
@if(paymentConfirmation){
<app-confirm-payment (cancel)="onCancel()" (mudraPin)="onSubmitMudraPin($event)" />
} @else {
<div class="payment-card-container">
  <img class="user-icon" src="cartoon.avif" />
  <div class="payment-header">
    <span class="user-name">{{ contactName }}</span>
  </div>
  <div class="contact-payments"  #scrollMe style="overflow-y: scroll; height: 1000px;">
    @for (transaction of contactTransactions; track $index) {
    @if(transaction.receiver===username){
    <div class="payment-date">
      {{
        transaction.month + "-" + transaction.day + "-" + transaction.year
          | date : "fullDate"
      }}
    </div>
    <div class="payment-box incoming">
      <p class="payment-title">Payment to you</p>
      <p class="payment-amount">₹{{ transaction.amount }}</p>
      <p class="payment-status">
        <span class="status-icon">✔️</span>
        <span class="status-text">Successful</span>
      </p>
    </div>
    } @else {
    <!-- Outgoing Payment -->
    <div class="payment-date">
      {{
        transaction.month + "-" + transaction.day + "-" + transaction.year
          | date : "fullDate"
      }}      
    </div>
    <div class="payment-box outgoing">
      <p class="payment-title">Payment to {{ transaction.receiver }}</p>
      <p class="payment-amount">₹{{ transaction.amount }}</p>
      <p class="payment-status">
        <span class="status-icon">✔️</span>
        <span class="status-text">Successful</span>
      </p>
    </div>
    } }
  </div>

  <!-- Input Area -->
  <div class="input-section">
    <form [formGroup]="paymentForm">
      <input
        type="text"
        placeholder="Enter the amount"
        class="input-amount"
        formControlName="amount"
      />
      <button class="send-button" (click)="onPayClick()">➤</button>
    </form>
     
  </div>
  @if(paymentForm.dirty&&!paymentForm.valid&&!paymentForm.pristine){
    <div style="color: #66bfbf;">Enter valid amount</div>
  }  
</div>
}
