<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Sidebar</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css">
</head>
<body> -->

  <nav class="sidebar">
    <header>
      <span class="image">
        <img src="MudraPay-white.png" alt="Logo">
      </span>
    </header>

    <div class="menu-bar">
      <div class="menu">
        <ul class="menu-links">
          <li class="nav-link" [routerLink]="['/home']" routerLinkActive="selected">
            <a >
              <i class="bx bx-wallet icon"></i>
              <span class="text nav-text">Wallets</span>
            </a>
          </li>
          <li class="nav-link" [routerLink]="['/transactions']" routerLinkActive="selected">
            <a >
              <i class="bx bx-money-withdraw icon"></i>
              <span class="text nav-text">Transactions</span>
            </a>
          </li>
          <li class="nav-link" [routerLink]="['/user']" routerLinkActive="selected">
            <a >
              <i class="bx bx-user icon"></i>
              <span class="text nav-text">Account</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="bottom-content">
        <li>
          <a (click)="onLogout()">
            <i class="bx bx-log-out icon"></i>
            <span class="text nav-text">Logout</span>
          </a>
        </li>
      </div>
    </div>
  </nav>

