/* style.css */
:host {    
    background-color: #222245;
}
.outer {
    background-color: #181837;
}
#second {
    color: aqua;
    background-color: #181837;
/*     
    background: rgb(47,225,228);
background: linear-gradient(0deg, rgba(47,225,228,1) 0%, rgba(231,255,251,1) 55%); */
}

#second img{
    width: 40rem;
    padding-left: 150px;
}
#second h1{
    margin-left: 48px;
    margin-right: 70px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    font-family: cursive;
    text-decoration: none;
}

main {
    padding: 40px;
}

.hero-section {
    color: aqua;
    font-family: "Roboto Slab";
    background-color: #181837;
    /* background: rgb(47,225,228);
    background: linear-gradient(0deg, rgba(47,225,228,1) 0%, rgba(119,255,230,1) 55%); color: #682323; */
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 100px;
}

.hero-section h1 {
    margin-top: -100px;
    font-size: 40px;
    /* margin-bottom: 50px; */
    margin-left: 200px;
    margin-right: 250px;
    text-align: left;
}

.get-started-btn {
    background-color: #00AB88;
    color: #fff;
    font-size: 20px;
    margin-left: -320px;
    padding: 15px 30px;
    border: none;
    margin-top: 30px;
    border-radius: 15px;
    cursor: pointer;
}

.hero-section img {
    width: 500px;
    height: auto;
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 150px;
}
