<div class="outer">
<app-navbar/>
<router-outlet/>
<div>    
    <main>
        <div class="hero-section">
            <div>
                <h1>Payments made hassle-free, with your own wallet, MudraPay</h1>
                <button class="get-started-btn">Get Started</button>
            </div>
            
            <img src="image-removebg-preview.png" alt="Payment Illustration">
        </div>
        <div class="hero-section" id="second">
            <img src="pay-logo-2.png" alt="Payment Illustration">
            <div>
                <h1>Manage your money seamlessly with your phone</h1>
                <button class="get-started-btn">Get Started</button>
            </div>
            
        </div>
    </main>
</div>

</div>
