<app-sidebar></app-sidebar>
<app-home-nav [walletBalance]="getWalletBalanceValue()()"></app-home-nav>
<p-toast></p-toast>
@if(isChangingPin){
  <app-change-pin (cancel)="onCancel()" (newMudraPin)="onChangeMudraPin($event)"/>
}
@else if (isChangingPassword){
  <app-change-password (cancel)="onCancel()" (newPassword)="onChangePassword($event)"/>
}




@else {
  <div class="profile-container">
    <!-- Avatar -->
    <div class="avatar">
      <img src="user.avif" alt="User Avatar" />
    </div>
  
    <!-- Username -->
    <div class="username">
      <h2>{{ username }}</h2>
    </div>
  
    <div class="email">
      <h2>{{ email }}</h2>
    </div>
  
    <!-- Buttons -->
    <div class="actions">
      <div class="btn">
        <i class="bx bx-pencil icon"></i>
        <a class="btn-link" (click)="onChangePasswordStart()">Change Password</a>
      </div>
      <div class="btn">
        <i class="bx bx-pencil icon"></i>
        <a class="btn-link" (click)="onChangeMudraPinStart()">Change Mudra Pin</a>
      </div>
    </div>
  </div>
  
}
